@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f1e6;
  --foreground: #4a3f35;
  --card: #fffcf5;
  --card-foreground: #4a3f35;
  --popover: #fffcf5;
  --popover-foreground: #4a3f35;
  --primary: #a67c52;
  --primary-foreground: #ffffff;
  --secondary: #e2d8c3;
  --secondary-foreground: #5c4d3f;
  --muted: #ece5d8;
  --muted-foreground: #7d6b56;
  --accent: #d4c8aa;
  --accent-foreground: #4a3f35;
  --destructive: #b54a35;
  --destructive-foreground: #ffffff;
  --border: #dbd0ba;
  --input: #dbd0ba;
  --ring: #a67c52;
  --chart-1: 30 33.871% 48.6275%;
  --chart-2: 31.3846 29.9539% 42.549%;
  --chart-3: 33.6842 32.948% 33.9216%;
  --chart-4: 29.1176 30.9091% 56.8627%;
  --chart-5: 30 33.6842% 62.7451%;
  --sidebar: 39 34.4828% 88.6275%;
  --sidebar-foreground: 28.5714 16.5354% 24.902%;
  --sidebar-primary: 30 33.871% 48.6275%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 42.8571 32.8125% 74.902%;
  --sidebar-accent-foreground: 28.5714 16.5354% 24.902%;
  --sidebar-border: 40 31.4286% 79.4118%;
  --sidebar-ring: 30 33.871% 48.6275%;
  --font-sans: Libre Baskerville, serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.25rem;
  --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 2px 4px -1px hsl(28 13% 20% / 0.12);
  --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 4px 6px -1px hsl(28 13% 20% / 0.12);
  --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 8px 10px -1px hsl(28 13% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.3);
}

.dark {
  --background: #2d2621;
  --foreground: #ece5d8;
  --card: #3a322c;
  --card-foreground: #ece5d8;
  --popover: #3a322c;
  --popover-foreground: #ece5d8;
  --primary: #c0a080;
  --primary-foreground: #2d2621;
  --secondary: #4a4039;
  --secondary-foreground: #ece5d8;
  --muted: #3a322c;
  --muted-foreground: #c5bcac;
  --accent: #59493e;
  --accent-foreground: #ece5d8;
  --destructive: #b54a35;
  --destructive-foreground: #ffffff;
  --border: #4a4039;
  --input: #4a4039;
  --ring: #c0a080;
  --chart-1: 30 33.6842% 62.7451%;
  --chart-2: 29.1176 30.9091% 56.8627%;
  --chart-3: 30 33.871% 48.6275%;
  --chart-4: 31.3846 29.9539% 42.549%;
  --chart-5: 33.6842 32.948% 33.9216%;
  --sidebar: 25 15.3846% 15.2941%;
  --sidebar-foreground: 39 34.4828% 88.6275%;
  --sidebar-primary: 30 33.6842% 62.7451%;
  --sidebar-primary-foreground: 25 15.3846% 15.2941%;
  --sidebar-accent: 24.4444 17.8808% 29.6078%;
  --sidebar-accent-foreground: 39 34.4828% 88.6275%;
  --sidebar-border: 24.7059 12.9771% 25.6863%;
  --sidebar-ring: 30 33.6842% 62.7451%;
  --font-sans: Libre Baskerville, serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.25rem;
  --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 2px 4px -1px hsl(28 13% 20% / 0.12);
  --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 4px 6px -1px hsl(28 13% 20% / 0.12);
  --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 8px 10px -1px hsl(28 13% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.3);
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
